a {
    text-decoration: none;
}

.avatar {
    width: 220px;
}

header {
    background-color: #1ABC9C;
}

/* main [class*="col-"] {
    background-color: red;
    border: 1px solid black;
}   */

nav {
    background-color: #2C3E50;
    height: 90px;
}

.container-lg {
    height: 100%;
} 

.nav-menu a {
    color: #7F8183;
}
 
.row, div {
    height: 100%;
} 

.header-avatar {
    padding-top: 120px;
}

.bar {
    height: 3px;
}

section {
    margin-top: 40px;
}

#about {
    background-color: #1ABC9C;
}

footer {
    margin-top: 90px;
    background-color: #3A546D;
}