a {
    text-decoration: none;
}

.avatar {
    width: 200px;
}

header {
    background-color: #1ABC9C;
}

nav {
    background-color: #2C3E50;
    height: 90px;
}

div {
    height: 100%;
}

.header-content {
    margin-top: 90px;
}

section {
    margin-top: 40px;
}

main .row > div {
    min-height: 50px;
}

#about {
    background-color: #1ABC9C;
}

footer {
    margin-top: 90px;
    background-color: #3A546D;
}