/* Link */
a {
    text-decoration: none;
}

/* Header */
header {
    background-color: #1ABC9C;
}

.header-avatar {
    padding-top: 120px;
}

/* Nav */
nav {
    background-color: #2C3E50;
    height: 90px;
}

.nav-menu a {
    color: #7F8183;
}

/* Avatar */
.avatar {
    width: 220px;
}
 
.container-lg, .row, div {
    height: 100%;
} 

/* Sezioni */
section {
    margin-top: 40px;
}

#about {
    background-color: #1ABC9C;
}

.btn, .btn:hover {
    background-color: #1ABC9C;
}

/* Barre laterali a fianco alla stella */
.bar {
    height: 3px;
}

/* Immagini card prima sezione */
.cards-img {
    width: 430px;
}

/* Footer */
footer {
    margin-top: 90px;
    background-color: #3A546D;
}

footer a {
    color: #20AA93;
}

.social-footer li a {
    width: 50px;
}

.footer-credits {
    background-color: #2C3E50;
}